In [7]:
import pandas as pd
import numpy as np
import re

# Path
path_raw = r'C:/Users/Usuario/Documents/b4d/data/raw/'
path_processed = r'C:/Users/Usuario/Documents/b4d/data/processed/'

# Name of file
file_name = 'terbol_clientes_número_ejecutivos_1.xlsx'

# file_name_base = 'tigobo_wa_checking.xlsx'

# File extension
# file_extension = '.csv'

# Suffix to proceseed files
suffix = '_clean'

In [8]:

df = pd.read_excel(path_raw+file_name)

In [9]:
df.columns

Index(['GERENCIA', 'SUPERVISOR', 'VENDEDOR', 'IDCLI', 'IDSUC.', 'CLIENTE',
       'LABORATORIO', 'NUMERO VENDEDOR', 'CORREO ELECTRONICO'],
      dtype='object')

In [ ]:
result = df.groupby('CLIENTE', as_index=False)['VENDEDOR'].nunique()
result

                                                CLIENTE  VENDEDOR
0              ABDON CABRERA OLGUIN - FARMACIA FARMAGOD         1
1     ABDON ESCOBAR CALZADILLA - FARMACIA THELMA -  ...         1
2     ABEL QUECAÑA POLICARPIO - ABEL QUECAÑA POLICARPIO         1
3          ABELARDO ESPINOZA REYNAGA - FARMACIA GABOSAN         1
4         ABIGAIL CALLAPA CARI DE MOLINA - DIVINA FARMA         1
...                                                 ...       ...
4442          ZULMA RELOS MAMANI - FARMACIA FARMATODO 1         1
4443           ZULMA ROMERO MOYA - FARMACIA SAN ANTONIO         1
4444  ZULMA VIVIANA OTTERBURG PEDRAZA - FARMACIA CARLES         1
4445                 ZUNILDA AGUILAR TRIVEÑO - NOVAVIDA         1
4446            ÁNGELA MERCADO SOSA - FARMACIA FARMALIX         1

[4447 rows x 2 columns]

In [14]:
result.columns

Index(['CLIENTE', 'VENDEDOR'], dtype='object')

In [15]:
result = result[result['VENDEDOR']>1]
result

                                                CLIENTE  VENDEDOR
9             ABIGAIL SOLIS SANCHEZ - FARMACIA ABIFARMA         2
26              ADELI VILLARROEL ORTIZ - FARMACIA ADELY         3
36     ADRIANA JELEMI LLANOS ROMERO - CENTERFARMA M & A         2
72    ALEJANDRA ODALIZ VALDEZ ILLANES - FARMACIA LEA...         2
73         ALEJANDRA ROCHA GARCIA - FARMACIA PRIVILEGIO         2
...                                                 ...       ...
4386   YUBINKA MICHELE CAMPOS FRANCO - FARMACIA TUFARMY         2
4387         YUDIH CHINO COTA - FARMACIA SANTA CATARINA         2
4391          YUDYT MELANIA URREGO ORTIZ - FARMACIA MIA         3
4426     ZULLMA CORONADO SERRUDO - FARMACIA ANTOFAGASTA         2
4427                 ZULLMA HERBAS OLIVERA - FARMAMIGOS         2

[247 rows x 2 columns]

In [ ]:
# Un Id sucursal no tiene mas de un cliente
result = df.groupby('IDSUC.', as_index=False)['CLIENTE'].nunique()
result = result[result['CLIENTE']>1]
result

Empty DataFrame
Columns: [IDSUC., CLIENTE]
Index: []

In [ ]:
# No existe sucursal lab asignado mas de un vendedor
result = df.groupby(['IDSUC.', 'LABORATORIO'], as_index=False)['VENDEDOR'].nunique()
result = result[result['VENDEDOR']>1]
result

Empty DataFrame
Columns: [IDSUC., LABORATORIO, VENDEDOR]
Index: []

In [26]:
# No existe sucursal lab asignado mas de un vendedor
result = df.groupby(['VENDEDOR', 'LABORATORIO'], as_index=False).nunique()
# result = result[result['VENDEDOR']>1]
result

,VENDEDOR,LABORATORIO,GERENCIA,SUPERVISOR,IDCLI,IDSUC.,CLIENTE,NUMERO VENDEDOR,CORREO ELECTRONICO
0,ADALID VELIZ TORRICO,MEGALABS,1,1,80,80,80,1,1
1,ADALID VELIZ TORRICO,NESTLE,1,1,125,125,125,1,1
2,ADALID VELIZ TORRICO,TERBOL,1,1,125,125,125,1,1
3,ALEX MOISES MALDONADO ROSPILLOSA,MEGALABS,1,1,67,67,67,1,1
4,ALEX MOISES MALDONADO ROSPILLOSA,NESTLE,1,1,100,100,100,1,1
...,...,...,...,...,...,...,...,...,...
195,WALTER SORUCO LOBO,NESTLE,1,1,38,40,38,1,1
196,WALTER SORUCO LOBO,TERBOL,1,1,38,40,38,1,1
197,WILNER HURTADO DURY,MEGALABS,1,1,18,18,18,1,1
198,WILNER HURTADO DURY,NESTLE,1,1,43,43,43,1,1
199,WILNER HURTADO DURY,TERBOL,1,1,43,43,43,1,1